div{
    margin: 20px;
    padding: 20px;
    color:palevioletred;
    background-color: black;
    border: 10px solid wheat;
}
div > h1 ,h2{
    color: aquamarine;
    text-align: center;
}
